.scrollerWithHeight {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

.scrollerWithNoHeight {
  overflow: hidden;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior-y: contain;
}