{
  "extends": ["standard", "standard-react", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "react/prop-types": 0,
    "react/display-name": 0,
    "prettier/prettier": "error",
    "react/jsx-handler-names": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
